body {
    font: normal 14px/150% calibri, Arial, Helvetica, sans-serif;

    background-attachment: fixed;
    background-position: center;
}

.header {
    background-color: #ffffff;
    color: white;
    font: bold 22px calibri, Arial, Helvetica, sans-serif;
    height: 50px;
    padding: 10px;

}

.title {
    color: #290e88;
    font: bold 14px calibri, Arial, Helvetica, sans-serif;
}

.center {
    margin: 0 auto;
    text-align: center;
}

input.form-control.text-center {
    width: 500px !important;
}

.form-inline .form-control .text-center {
    text-align: center;
}

.btn-aqua {
    background-color: #7157cc;
}

.btn-aqua.active, .btn-aqua.focus, .btn-aqua:active, .btn-aqua:focus, .btn-aqua:hover, .open > .dropdown-toggle.btn-aqua {
    background-color: #290e88;
}

.btn, .btn.focus, .btn:focus, .btn:hover {
    color: #f4f3fa;
}

input.form-control {
    background-color: transparent;
    border: 1px solid #290e88;
    color: #290e88;
    padding: 3px 10px;
}

.navbar-default .navbar-nav {
    background-color: white;
    height: 100%;
    width: 155px;
}

.navbar .navbar-logo img {
    max-width: 155px;
    max-height: 65px;
}

.navbar-fixed-left {
    max-width: 200px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 139px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}